body{
    color: rgb(0, 0, 0);
}

header{
    background-color: #581e20;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}
.logo{
    height: 120px;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;    
}
nav{
    position: absolute;
    top: 50px;
    right:0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color:#ffffff;
    font-weight:bold;
    font-size: 25px;
    text-decoration: none;
}
nav a:hover{
    color: #eccc3e;
}

main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0px;
}

form label, form legend{
    display: block;
    margin: 0 0 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.input-padrão{
    display: block;
    margin: 0 0 20px;
    padding: 10px;
    width: 50%;
    border-radius: 5px;
}
.checkbox{
    margin: 20px 0 0 0;
}

.enviar{
    background: #17A63D;
    color: #ffffff;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    padding: 15px;
    width: 50%;
    cursor: pointer;
    transition: 0.5s;
}

.enviar:hover{
    background: #257039;
    transform: scale(1.02);
}
table{
    font-family: Arial, Helvetica, sans-serif;
    margin: 60px 0px; 
}
thead{
    background: #575d63;
}
thead th{
    color: #ffffff;
}
th, td{
    border: #000000 2px solid;
    font-size: 20px;
    padding: 8px 100px;
}
footer{
    
    text-align: center;
    background: url("/Images/bg.jpg");
    padding: 40px 0px;
}

.logofooter{
    height: 150px;
}

.copyright{
    font-style: italic;
    color: antiquewhite;
    margin: 20px 0 0 0;

}

/* width */
::-webkit-scrollbar {
    width: 1px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #32363a; 
    border-radius: 1px;
    background: #32363a;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4f5357; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #575d63; 
  }